@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&family=Tenor+Sans&display=swap');
@import url('https://kit.fontawesome.com/8e08c52e93.js');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

ul li {
    list-style-type: none;
}


/*_________ politica cookies  |  politica de confidentialitate  |  termeni si conditii ________*/

.conf-container h1,
.termeni-container h1 {
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 2.5rem 0 1.5rem 0;
}

.cookies-container h1 {
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 9rem 0 3rem 0;
}

.cookies-container,
.conf-container,
.termeni-container {
    min-height: 100vh;
    margin: 0 50px;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conf-container h1,
.termeni-container h1 {
    margin-top: 7rem;
    font-size: 50px;
    margin-bottom: 30px;
}

.cookies,
.conf,
.termeni {
    max-width: 700px;
    cursor: pointer;
    margin-top: 3rem;
    padding-right: 0.4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #00000077;
    text-align: justify;
}

.question-cookies,
.question-conf,
.question-termeni {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.question-cookies i,
.question-conf i,
.question-termeni i {
    font-size: 22px;
}

.answer-cookies,
.answer-conf,
.answer-termeni {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
    font-size: 15px;
}

.answer-cookies p,
.answer-conf p,
.answer-termeni p {
    padding-top: 1rem;
    color: #333333d8;
}

.cookies.active .answer-cookies,
.conf.active .answer-conf,
.termeni.active .answer-termeni {
    max-height: 2000px;
}

.cookies.active i,
.conf.active i,
.termeni.active i {
    transform: rotate(90deg);
}


/* @media_768px */

@media (max-width: 768px) {
    /*--politica cookies | politica de confidentialitate | termeni si conditii--*/
    .cookies-container,
    .conf-container,
    .termeni-container {
        margin: 0 80px;
        padding-bottom: 5rem;
    }
}


/* @media_600px */

@media (max-width: 600px) {
    /*--politica cookies | politica de confidentialitate | termeni si conditii--*/
    .cookies-container h1 {
        font-size: 45px;
    }
    .conf-container h1 {
        margin: 6rem 0 1rem 0;
        font-size: 30px;
    }
    .termeni-container h1 {
        font-size: 30px;
    }
    .cookies-container,
    .conf-container,
    .termeni-container {
        margin: 0 35px;
        padding-bottom: 4rem;
    }
    .question-cookies,
    .question-conf,
    .question-termeni {
        font-size: 13px;
    }
    .question-cookies i,
    .question-conf i,
    .question-termeni i {
        font-size: 18px;
    }
    .answer-cookies p,
    .answer-conf p,
    .answer-termeni p {
        font-size: 14px;
        line-height: 18px;
    }
}