    @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&family=Tenor+Sans&display=swap');
    @import url('https://kit.fontawesome.com/8e08c52e93.js');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        color: #000;
    }
    
    ul li {
        list-style-type: none;
    }
    /*________________________ portofoliu ________________________*/
    
    .portfoliu h1 {
        font-family: 'Italiana';
        font-weight: 400;
        font-size: 70px;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 130px 0 30px 0;
    }
    /* filtering projects */
    
    .portfoliu-container {
        min-height: 100vh;
        margin: 0 130px;
        padding-bottom: 7rem;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .portfoliu .filter-buttons {
        margin: auto;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .portfoliu .filter-buttons ul {
        text-align: center;
    }
    
    .portfoliu .filter-buttons ul li {
        color: #000000bd;
        font-size: 16px;
        display: inline-block;
        margin: 0px 10px;
        cursor: pointer;
        padding-bottom: 2px;
    }
    
    .portfoliu .filter-buttons ul li.active {
        color: #000;
        border-bottom: 1.5px solid #000;
    }
    
    .portfoliu .portfolio-gallery {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: auto;
    }
    
    .portfoliu .portfolio-gallery .item .inner {
        position: relative;
    }
    
    .portfoliu .portfolio-gallery .item img {
        width: 100%;
        display: block;
    }
    /* hover effect */
    
    .hover-container {
        position: relative;
        width: 100%;
    }
    
    .image {
        width: 100%;
        cursor: pointer;
    }
    
    .overlay {
        position: absolute;
        font-family: 'Tenor Sans', sans-serif;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 20%;
        line-height: 50px;
        font-size: 40px;
        text-align: center;
        background-color: #000;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }
    
    .hover-container:hover .overlay {
        visibility: visible;
        opacity: 0.7;
        width: 100%;
    }
    
    .overlay button {
        border: none;
        padding: 8px 15px;
        font-size: 16px;
        color: #000;
        cursor: pointer;
        transition: 0.5s;
        letter-spacing: 0.1em;
        background-color: none;
    }
    
    .overlay button:hover {
        font-size: 19px;
        letter-spacing: 0.06em;
    }
    /*_________ @media query_1080px _________*/
    
    @media (max-width: 1080px) {
        .navbar {
            padding: 20px 50px;
        }
        .about {
            width: 40%;
            margin: 30px 20px;
        }
        .portfoliu-container {
            margin: 0 80px;
            padding-bottom: 6rem;
        }
    }
    /*_________ @media query_992px _________*/
    
    @media (max-width: 992px) {
        /*--portfolio--*/
        .portfoliu h1 {
            padding: 150px 0 50px 0;
        }
        .projects img {
            width: 100%;
        }
    }
    /*________ @media query_768px _________*/
    
    @media (max-width: 768px) {
        /*--portfolio--*/
        .portfoliu-container {
            margin: 0 50px;
        }
        .overlay {
            padding-top: 30%;
            line-height: 20px;
            font-size: 30px;
        }
        .overlay button {
            padding: 4px 10px;
            font-size: 16px;
        }
        .overlay button:hover {
            font-size: 30px;
        }
    }
    /*________ @media query_600px _________*/
    
    @media (max-width: 600px) {
        /*--portfolio--*/
        .portfoliu h1 {
            font-size: 48px;
            padding: 150px 0 50px 0;
        }
        .portfoliu-container {
            margin: 0 30px;
            padding-bottom: 2.5rem;
        }
        .portfoliu .portfolio-gallery {
            grid-template-columns: repeat(1, 1fr);
        }
        .portfoliu .filter-buttons ul li {
            font-size: 13px;
        }
        .portfoliu .filter-buttons {
            margin-top: 0;
            margin-bottom: 30px;
        }
        .overlay {
            padding-top: 15%;
            line-height: 40px;
        }
        .overlay button {
            padding: 8px 15px;
            font-size: 16px;
        }
    }