@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&family=Tenor+Sans&display=swap');
@import url('https://kit.fontawesome.com/8e08c52e93.js');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

ul li {
    list-style-type: none;
}


/*_________ proiecte ________*/

.ms-left {
    left: 0;
    position: fixed;
    top: 0;
    width: 260px;
    height: 100%;
    background: #fff;
}